<p class="card-text">{{tituloSkill}}</p>



<ul *ngFor="let Skill of skills; let i=index">
    <li class="listaProyectos">
        <h3>{{Skill.Tecnologia}}
        </h3>
        
        <!--me guardo como se hace la barra-->
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: {{Skill.Porcentaje}}%" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">{{Skill.Porcentaje}}%</div>
</div>

        <button type="button" (click)="eliminarSkill(i)">delete</button>

      </li>
      
  </ul>
  
  
  
  <!-- Button trigger modal -->
  <button type="button"  class="btn btn-light" data-bs-toggle="modal" data-bs-target="#ModalSkill">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>
  
  
  <!-- Modal -->
  <div class="modal fade" id="ModalSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nueva Habilidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
  
            <input type="text" name="skill" id="skill" placeholder="Nombre de la habilidad" [(ngModel)]="nuevaSkill">
            <br>
            <input type="text" name="porcentaje" id="porcentaje" placeholder="Porcentaje" [(ngModel)]="nuevoPorcentaje">          
            
          </form> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="agregarSkill()">Agregar</button>
        </div>
      </div>
    </div>
  </div>