<header>
    <!--barra de navegacion-->
    <nav class="navbar sticky-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="FrontendAngular\src\img\LogoAP.jpg"></a>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ir a
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
          <button type="button" class="btn btn-light">Info</button>
          <button type="button" class="btn btn-light">Info</button>
          <button type="button" class="btn btn-light">Log in</button>
        </div>
      </div>
    </nav>
  </header>